<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companent</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>

<body>
    <div id="app">


        <!-- game over dialog -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Game Over</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 id="reslut" class="text-primary">{{reslut}}</h4>
                        <h4 class="text-primary">{{count}} Times</h4>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onclick="window.location.reload();">Restart</button>

                    </div>
                </div>
            </div>
        </div>
       
       
    

      





  <!--reslut-->
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 text-center">

                <h4 id="reslut" class="text-primary">{{reslut}}</h4>
                <h4 class="text-primary">{{count}} Times</h4>
            </div>
            <div class="col-md-4">

            </div>

        </div> <br>
    <!--gameboard-->
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 text-center">
                 <!--row1-->

                <boom-button :is-bomb="false" @bomb="bomb" @click="clickbomb('bomb1',false)" id="bomb1"></boom-button>
                &nbsp;&nbsp;
                <boom-button :is-bomb="false" @bomb="bomb" @click="clickbomb('bomb2',false)" id="bomb2"></boom-button>
                &nbsp;&nbsp;
                <boom-button :is-bomb="true" @bomb="bomb" @click="clickbomb('bomb3',true)" id="bomb3"
                    data-toggle="modal" data-target="#exampleModal"></boom-button><br><br>

                <!--row2-->
              
                    <boom-button :is-bomb="true" @bomb="bomb" @click="clickbomb('bomb4',true)" id="bomb4"
                    data-toggle="modal" data-target="#exampleModal"></boom-button>
                    &nbsp;&nbsp;
                     <boom-button :is-bomb="true" @bomb="bomb" @click="clickbomb('bomb5',true)" id="bomb5"
                    data-toggle="modal" data-target="#exampleModal"></boom-button>
                    &nbsp;&nbsp;
                    <boom-button :is-bomb="false" @bomb="bomb" @click="clickbomb('bomb6',false)" id="bomb6"></boom-button>
                    <br><br>

               
                 <!--row3-->
                <boom-button :is-bomb="false" @bomb="bomb" @click="clickbomb('bomb7',false)" id="bomb7"></boom-button>
                &nbsp;&nbsp;
                <boom-button :is-bomb="true" @bomb="bomb" @click="clickbomb('bomb8',true)" id="bomb8"data-toggle="modal" data-target="#exampleModal"></boom-button> 
                &nbsp;&nbsp;
                <boom-button :is-bomb="true" @bomb="bomb" @click="clickbomb('bomb9',true)" id="bomb9"
                    data-toggle="modal" data-target="#exampleModal"></boom-button><br><br>





            </div>
            <div class="col-md-4">

            </div>

        </div>

    </div>



  <!--template-->

    <script type="text/x-template" id="boom-button">
    <button @click="openbomp" style="width: 60px; height: 60px;"  class="btn btn-primary">{{val}}</button>
    </script>

  <!--Vue-->
    <script>

        Vue.component('boom-button', {
            props: { isBomb: Boolean },
            data: function () {
                return {

                    val: '-',
                    clicked: false
                };

            },
            methods: {
                openbomp: function () {

                    if (this.clicked) return;
                    this.clicked = true;
                    this.$emit('click')

                    if (!this.isBomb) return;
                    this.val = '*';
                    this.$emit('bomb')


                }

            },
            template: '#boom-button',


        });



        var app = new Vue({
            el: '#app',
            data: {
                reslut: 'Dont touch Bomb',
                count: 0

            },
            methods: {
                bomb: function () {
                    this.reslut = "You lose !!";
                    document.getElementById('reslut').className = "text-danger";
                },
                clickbomb: function (bombid, bomb) {
                    namebomb = bombid
                    if (bomb) {
                        document.getElementById(namebomb).className = "btn btn-danger";
                    }
                    
                     
                      
                     else{   
                        document.getElementById(namebomb).className = "btn btn-success";
                        document.getElementById(namebomb).innerHTML="pass";
                    } 



                    this.count++;
                   
                }


            },
            computed: {

            }

        })






    </script>
</body>

</html>